body {
    background: #f4f8ffdb;
    font-family: 'Oswald';
}
body h1{
    color:#010101;
}
.navbar {
    background: #f4f8ff;
}

.navbar img{
    width: 150px;
}


.navbar li a {
    color: #050c43;
}

.fa-search {
    color: #050c43;
}

.card-body h5 a{
    text-decoration:none;
}
